<strong>Olá, {{ deliveryman }}</strong>
<p>Uma entrega sua foi cancelada:</p>
<p>
  <strong>Código da entrega: </strong> {{ delivery_id }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <br />
  <small>
    Algum problema aconteceu com sua entrega, e você não precisa mais entregar esse produto
  </small>
</p>
