<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova entrega foi criada. Veja abaixo maiores detalhes</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <br />
  <small>
    O produto está disponível para efetuar a entrega.
  </small>
</p>
